* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

#slider {
    width: 900px;
    height: 400px;
}

#item {
    width: 80%;
}

#item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#thumbs {
    width: 20%;
    height: 100%;
    border: 2px solid red;
}

#thumbs img {
    height: calc(100% / 5);
    object-fit: cover;
    cursor: pointer;
} 

#prevBtn,
#nextBtn {
    color: black;
    font-size: 25px;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 400px; 
    
}

#prevBtn:hover,
#nextBtn:hover {
    
    background-color: rgba(156, 148, 148, 0.5);
    color: white;
}